spring:
  profiles:
    active: routes,oauth
  application:
    name: gateway
  datasource:
    username: postgres
    password: 98578652
    url: jdbc:postgresql://localhost:5432/redditube

management:
  endpoints:
    web:
      exposure:
        include: "*" # TODO Expose only needed on prod

server:
  port: 8080

idp:
  host: localhost
  port: 5555
  realm: redditube
  client-id: redditube-gateway
  client-secret: b81f9fc5-aa34-4dfa-bb11-0488429057e0

#logging.level:
#  org.springframework.web: DEBUG
#  org.springframework.cloud.gateway: TRACE
#  org.springframework.security: DEBUG
#  org.springframework.web.reactive.function.client: TRACE